.Contact center {
    margin-top: 70px;
    font-family: "Sen";
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}
.c_cards {
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    gap: 32px;  
    flex-wrap: wrap;  
    margin-top: 40px; 
}

.card {
    width: 296px;
    height: 222px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}


.card:hover {
    background-color: #FFD050;
    transform: translateY(-10px);
}


.card img {
    width: 48px;
    height: 47px;
    margin-top: 32px;
    margin-left: 32px;
}


.card h3 {
    font-family: "Sen";
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin-left: 32px;
}

.card p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    color: #6D6E76;
    line-height: 28px;
    letter-spacing: 0px;
    margin-left: 32px;
}