 .form-control {
     width: 100%;
     max-width: 1280px;
     height: 76px;
     border-width: 1px;
     border-radius: 2px;
     padding: 24px;
     margin-top: 60px;
     box-sizing: border-box;

 }


 .m {
     margin-top: 60px;
 }


 h6 {
     font-family: "Inter";
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 3px;
     text-transform: uppercase;
     color: #592EA9;
 }

 h4 {
     font-family: "Sen";
     font-weight: 700;
     font-size: 36px;
     line-height: 48px;
     letter-spacing: -2px;
     color: #232536;
 }


 .pqa p {
     font-family: "Inter";
     font-weight: 400;
     font-size: 16px;
     line-height: 28px;
     color: #6D6E76;
 }


 .d-flex {
     padding-top: 30px;
     flex-wrap: wrap;

 }


 @media (max-width: 992px) {
     h4 {
         font-size: 30px;
     }

     .form-control {
         height: 65px;
         padding: 18px;
     }
 }


 @media (max-width: 768px) {
     h4 {
         font-size: 26px;
         line-height: 34px;
     }

     h6 {
         font-size: 14px;
         letter-spacing: 2px;
     }

     .form-control {
         height: 58px;
         padding: 15px;
         margin-top: 40px;
     }

     .d-flex {
         padding-top: 20px;
     }
 }


 @media (max-width: 480px) {
     h4 {
         font-size: 22px;
         line-height: 28px;
     }

     .form-control {
         height: 50px;
         padding: 12px;
     }

     .pqa p {
         font-size: 14px;
         line-height: 24px;
     }
 }