.Faq{
    background: #F4F0F8;
    width: 100%;
    height: 350px;
}


h1 {
    font-family: "Sen";
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
    color: #232536;
    padding-top: 100px;
}

.ps p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #6D6E76;
}
h5{
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #232536;
}